@model MVCClinica.Models.Medico

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetByFullName</title>
</head>
<body>
    <div>
        <h1>Buscar por Nombre Completo</h1>
        @using (Html.BeginForm("GetByFullName", "Medico", FormMethod.Get))
        {
            @Html.TextBox("nombre");
            @Html.TextBox("apellido");
            <input type="submit" value="Get" />
        }
    </div>
</body>
</html>
